.site-header {
  width: 100%;
  height: 60px;

  padding-bottom: 1px;

  display: flex;
  gap: 1px;

  background-color: var(--color-border-grid);
}

.site-header__corner {
  flex-grow: 1;

  background-color: var(--color-bg-main);
}

.site-header__corner--left {
  border-radius: var(--border-radius-base);
}

.site-header__corner--right {
  border-radius: var(--border-radius-base);
}

.site-header__content {
  width: 100%;
  max-width: 1400px;

  display: flex;
  gap: 1px;
}

.site-header__main-nav {
  width: 100%;
  min-width: 0;

  display: flex;
  gap: 1px;

  @media (width >= 768px) {
    width: 54.5%;
  }
}

.site-header__nav-link {
  min-width: 120px;
  /* box-sizing: border-box; */

  padding: 0 var(--border-width-heavy);

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--color-accent-bg);
  color: var(--color-accent);
  
  border-radius: var(--border-radius-base);
  
  font-size: var(--font-size-sm);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;

  transition: background-color 200ms, color 200ms;
  will-change: background-color, color;

  &:hover {
    background-color: var(--color-bg-main);
    color: var(--color-text-muted);
  }

  &.site-header__nav-link--active {
    background-color: var(--color-bg-main);
    color: var(--color-text-muted);

    .site-header__nav-brackets {
      color: var(--color-accent);
      opacity: 1;
    }
  }

  &:hover .site-header__nav-brackets {
    color: var(--color-accent);
    opacity: 1;
  }

  &:hover .site-header__nav-text {
    font-size: 13.3px;
  }

  &:active .site-header__nav-text {
    font-size: 12.7px;
  }
}

.site-header__nav-text {
  display: flex;
  align-items: center;

  font-size: var(--font-size-sm);
  transition: font-size 200ms;
  will-change: font-size;
}

.site-header__nav-brackets {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  
  opacity: 0;
  
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  
  transition: opacity 200ms;
  will-change: opacity;
}

.site-header__nav-filler {
  width: 100%;

  flex-grow: 1;

  background-color: var(--color-bg-main);
  border-radius: var(--border-radius-base);
}

.site-header__social-container {
  width: 100%;
  
  display: flex;
  /* gap: 1px; */

  @media (width >= 768px) {
    width: calc(45.5% - 1px);
  }
}

.site-header__social-nav {
  display: flex;
  gap: 1px;
}

.site-header__social-link {
  width: 60px;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-accent-bg);
  color: var(--color-accent);
  border-radius: var(--border-radius-base);

  text-decoration: none;

  transition: background-color 200ms, color 200ms;
  will-change: background-color, color;

  &:hover {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
  }

  &:hover .site-header__social-icon {
    transform: scale(1.15);
  }

  &:active .site-header__social-icon {
    transform: scale(0.95);
  }
}

.site-header__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms;
  will-change: transform;
}

.site-header__social-filler {
  flex-grow: 1;
  
  background-color: var(--color-rectangle-header);
  border-left: var(--border-width-heavy) solid var(--color-border-grid);
  border-right: var(--border-width-heavy) solid var(--color-border-grid);
  /* border-radius: var(--border-radius-base);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */

  position: relative;
  margin-bottom: -1px;
  z-index: 10;
}

.site-header__cell-wrapper {
  width: 30px;
  flex-shrink: 0;
  
  background-color: var(--color-bg-main);
  border-radius: var(--border-radius-base);
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */

  display: none;

  @media (width >= 768px) {
    display: block;
  }
}
